.Dictionary section {
/* From https://css.glass */
background: rgba(243, 228, 226, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(243, 228, 226, 0.33);
  padding: 30px;
  margin: 20px 0;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #334944;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}